.elementToFadeInAndOut {
margin-top:3em;
    background: none;
    -webkit-animation: fadeinout 6s linear forwards;
    animation: fadeinout 7s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.preloder{
	position: fixed;
   top: 0;
	right: 0;
	background: black;
	height: 100%;
	width: 100%;
	transition: 1s all easy;
	opacity: 1;
	visibility: visible;
  }
  
  .done{
	opacity: 0;
	visibility: hidden;
  }
  
  .circle, .circle:before, .circle:after{
	border: 3px solid transparent;
  /*   border: 3px solid greeen; */
	border-radius: 50%;
  }
  
  .circle{
	height: 110px;
	width: 110px;
	margin: 200px auto;
	position: relative;
	border-top-color: gold;
	animation-name: spin;
	 animation-duration:1.1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
  }
  
  .circle:before, .circle:after{
	content: "";
	position: absolute;
  }
  
  .circle:before{
	top: 10px;
	left:10px;
	bottom: 10px;
	right: 10px;
	border-top-color: red;
	animation-name: spin;
	 animation-duration:2.1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-duration: 2.1s;
  }
  
  .circle:after{
	top: 23px;
	left:23px;
	bottom: 23px;
	right: 23px;
	border-top-color: indigo;
	animation-name: spin;
	animation-delay: 1.3s;
	animation-duration:3.1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
  }
  
  @keyframes spin{
	from{
	  transform: rotate(0deg);
	}
	to{
	  transform: rotate(360deg);
	}
  }
body{
	text-align: center;


		font-family: 'Roboto Slab', serif;	
}
.home{
	margin-top: 100px;
}
h1,h2,h3,h4,h5,h6,p,label{
			font-family: 'Roboto Slab', serif;
}
.section{
	background-size: auto;
}
.s1{
	
	color:#fff;
	background-size: 1385px 660px;
	background-repeat: no-repeat;

}

.s3{
	background:url('img/about.png');
	background-size: 1350px 800px;
}
.s4{
	background:black;
	background-size: 1350px 800px;
}
span{
	background: #ffc107 !important;
}
.fp-controlArrow .fp-prev{
	background: black;
	bottom: 150em;

}
.about-text{
	color:darkgray;
	font-weight: 100;
	font-size: 1.3em;
}
.skill-text{
	color:#fff;
	font-weight: 100;
	font-size: 1.3em;
}
.skill-text img{
	height: 1em;
}
.main-text{
	font-size:4em;
}
@media (min-width: 992px){
	.card{
	width: 20rem;
}
.card .card-img-top{
	width: 12em; 
	margin-top: 1em;
}
.card .card-title{
	font-family: 'Roboto Slab', serif;
font-weight: 600;
}


}
.col-lg-12 .btn-primary{
	background: #ffc107; 
	border: 3px solid #ffc107;
	 color:black;font-weight:600;
	}
@media (max-width: 480px){
	.elementToFadeInAndOut {
		margin-top:2em;
			background:none;
			-webkit-animation: fadeinout 6s linear forwards;
			animation: fadeinout 8s linear forwards;
		}
		
		@-webkit-keyframes fadeinout {
		  0%,100% { opacity: 0; }
		  50% { opacity: 1; }
		}
		
		@keyframes fadeinout {
		  0%,100% { opacity: 0; }
		  50% { opacity: 1; }
		}
	body{
		background: black !important;
	}
	.s2 .slide{
		background: black !important;
	}
	.section{
		background: black !important;
	}
.card{
	width: 17rem;
}
.card .card-img-top{
	width: 10em; 
	margin-top: 1em;
}
.card .card-title{
	font-family: 'Roboto Slab', serif;

}
.col-lg-12 .btn-primary{
background: #ffc107; 
border: 3px solid #ffc107;
 color:black;font-weight:800;
 font-size:0.8em;
 height:2.8em;
}
.main-text{
	font-size:2.5em;
}
.role-text{
	font-size: 1.5em;
}

.res .res1{
display: none;
}

.res .col-lg-6{
	margin-bottom: 10px;
}
.about-text{
	color:darkgray;
	font-weight: 100;
	font-size: 1em;
	

}

.skill-text{
	color:#fff;
	font-weight: 100;
	font-size: 0.8em;
}
.skill-text img{
	height: 1em;
}
.email-section{
	margin-top: 50px;
}
.hireme{
	margin-top: 50px;
}
}


@media only screen and (min-width: 481px) and (max-width: 991px){

		
		body{
			background: black !important;
		}
		.s2 .slide{
			background: black !important;
		}
		.section{
			background: black !important;
		}
		.res{
			margin-top: 20px;
		}
.card{
	width: 25rem;
}
.card .card-img-top{
	width: 10em; 
	margin-top: 1em;
}
.card .card-title{
	font-family: 'Roboto Slab', serif;

}
.col-lg-12 .btn-primary{
background: #ffc107; 
border: 3px solid #ffc107;
 color:black;font-weight:800;
 font-size:0.8em;
 height:2.8em;
}
.main-text{
	font-size:2.5em;
}
.role-text{
	font-size: 1.5em;
}

.res1{
	margin-left: 150px;
	margin-bottom: 100px;

}
.about-text{
	color:darkgray;
	font-weight: 100;
	font-size: 1em;
	

}

.skill-text{
	color:#fff;
	font-weight: 100;
	font-size: 0.8em;
}
.skill-text img{
	height: 1em;
}
.email-section{
	margin-top: 50px;
}
.hireme{
	margin-top: 50px;
}
}

.slide{
	background-size: 1350px 800px;
}


hr{
	background: grey;
}

.h-about{
	width: 10em;
}
.h-port{
	width: 10em;
}

@media (max-width: 395px){
	.res{
		margin-top: 20px;
	}

}

.contact-head{
	color:white;
}
@media (max-width: 340px){
	.h-about{
		margin-top: 20px;
		margin-right: 10px;
	}

}